@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
body {
  background: #1E1C1A;
  font-family: 'Indie Flower';
}

.answer {
  width: 60px;
  height: 60px;
  font-size: 1em;
  font-family: 'Indie Flower';
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 25px;
  text-align: center;
  font-size: 3.5em;
  color: #FFE0C0;
}

.line {
  width: 100px;
  height: 2px;
  border-top: 5px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#feedback {
  margin-top: 15px;
  height: 81px;
}

.header {
  height: 81px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.title {
  width: 35%;
  height: 81px;
  color: #FF9400;
  float: left;
}

#score {
  color: #70AECF;
  height: 81px;
  font-size: 0.55em;
  margin-left: 10%;
  margin-right: 0;
  text-align: left;
  float: left;
}

.timeleft {
  color: #3B6B85;
  float: left;
}

.timebox {
  height: 81px;
  font-size: 0.55em;
  margin-left: 10%;
  text-align: left;
  float: left;
}

#clock {
  color: #FFD09F;
  margin-left: 5px;
  float: left;
}

#tryagain {
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  min-width: 35%;
  max-width: 50%;
  text-align: center;
}

.modal-content li, input, select {
  font-size: 1.5em;
}

.modal-content li {
  list-style: none;
  margin-top: 15px;
}

.modal-content input {
  font-family: 'Indie Flower';
  text-align: center;
  width: 25%;
}

.modal-content select {
  text-align: center;
}

#start {
  cursor: pointer;
  color: #3B6B85;
  font-size: 2em;
}
